<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meki.test.dao.UserDAO">

    <insert id="insertUser" parameterType="com.meki.test.model.User">
         insert into users(username,password,create_time)
         values(#{username},#{password},#{createTime});
    </insert>

</mapper>